/* Structure */
.table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px;
  min-width: max-content;
  max-height: calc(100% - 400px);
}

.header {
  min-height: 58px;
  display: grid;
  align-items: baseline;
  padding: 8px;
  justify-content: space-between;
  margin: 2px 24px;
}

.header mat-form-field label {
  min-width: 120px;
  display: inline-block;
}

.note {
  min-width: 240px;
}

.footer {
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: flex-start;
  flex-direction: column;
  margin: 2px 24px;
}

.button-save {
  min-height: 60px;
  min-width: 200px;
  font-size: 24px;
  margin: 24px;
}

.button-erase {
  padding: 8px 24px;
}

button {
  border: 0px;
  color: gray;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 4px 0px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

button:hover {
  color: black;
  background-color: gainsboro;
}

button:active {
  background-color: darkgrey;
  box-shadow: 0 0;
  transform: translateY(4px);
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 8px;
}

.footer button i {
  min-width: 48px;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.mat-table {
  overflow: auto;
  max-height: 400px;
}

.mat-cell {
  padding: 0 4px;
}

.align-right {
  align-content: stretch;
  text-align: right;
}

.align-left {
  align-content: top;
  text-align: left;
}

.align-center {
  text-align: center;
  padding: 8px 4px;
}

input {
  padding: 0 4px;
  max-width: 90px;
  margin: 8px 8px;
}

.left-top-corner {
  position: absolute;
  top: 20px;
  right: 20px;
}

.hand {
  cursor: pointer;
}
